sudo: required
dist: trusty
os: linux
language: generic
cache:
  directories:
  - depends/built
  - depends/sdk-sources
  - "$HOME/.ccache"
env:
  global:
    - MAKEJOBS=-j3
    - CCACHE_SIZE=100M
    - CCACHE_TEMPDIR=/tmp/.ccache-temp
    - CCACHE_COMPRESS=1
    - BASE_OUTDIR=$TRAVIS_BUILD_DIR/out
    - SDK_URL=https://bitcoincore.org/depends-sources/sdks
  matrix:
    - HOST=arm-linux-gnueabihf PACKAGES="g++-arm-linux-gnueabihf" DEP_OPTS="" GOAL="install" BITCOIN_CONFIG="--enable-glibc-back-compat --enable-gui"
    - HOST=x86_64-unknown-linux-gnu DEP_OPTS="" GOAL="install" BITCOIN_CONFIG="--enable-glibc-back-compat --enable-gui "
    - HOST=x86_64-apple-darwin11 PACKAGES="gcc-multilib g++-multilib cmake libcap-dev libz-dev libbz2-dev" OSX_SDK=10.11 GOAL="deploy"
    - HOST=x86_64-w64-mingw32 DPKG_ADD_ARCH="i386" PACKAGES="python3 nsis g++-mingw-w64-x86-64 wine1.6 bc" GOAL="deploy" BITCOIN_CONFIG="--enable-gui" MAKEJOBS="-j2"
    - HOST=i686-w64-mingw32 DPKG_ADD_ARCH="i386" PACKAGES="python3 nsis g++-mingw-w64-i686 wine1.6 bc" GOAL="deploy" BITCOIN_CONFIG="--enable-gui" MAKEJOBS="-j2"
install:
    - if [ -n "$PPA" ]; then travis_retry sudo add-apt-repository "$PPA" -y; fi
    - if [ -n "$DPKG_ADD_ARCH" ]; then sudo dpkg --add-architecture "$DPKG_ADD_ARCH" ; fi
    - if [ -n "$PACKAGES" ]; then travis_retry sudo apt-get update; fi
    - if [ -n "$PACKAGES" ]; then travis_retry sudo apt-get install --no-install-recommends --no-upgrade -qq $PACKAGES; fi
before_script:
    - unset CC; unset CXX
    - mkdir -p depends/SDKs depends/sdk-sources
    - if [ -n "$OSX_SDK" -a ! -f depends/sdk-sources/MacOSX${OSX_SDK}.sdk.tar.gz ]; then wget $SDK_URL/MacOSX${OSX_SDK}.sdk.tar.gz -O depends/sdk-sources/MacOSX${OSX_SDK}.sdk.tar.gz; fi
    - if [ -n "$OSX_SDK" -a -f depends/sdk-sources/MacOSX${OSX_SDK}.sdk.tar.gz ]; then tar -C depends/SDKs -xf depends/sdk-sources/MacOSX${OSX_SDK}.sdk.tar.gz; fi
    - make $MAKEJOBS -C depends HOST=$HOST $DEP_OPTS
script:
    - export TRAVIS_COMMIT_LOG=`git log --format=fuller -1`
    - if [ -n "$USE_SHELL" ]; then export CONFIG_SHELL="$USE_SHELL"; fi
    - OUTDIR=$BASE_OUTDIR/$TRAVIS_PULL_REQUEST/$TRAVIS_JOB_NUMBER-$HOST
    - BITCOIN_CONFIG_ALL="--disable-dependency-tracking --prefix=$TRAVIS_BUILD_DIR/depends/$HOST --bindir=$OUTDIR/bin --libdir=$OUTDIR/lib"
    - depends/$HOST/native/bin/ccache --max-size=$CCACHE_SIZE
    - test -n "$USE_SHELL" && eval '"$USE_SHELL" -c "./autogen.sh"' || ./autogen.sh
    - ./configure --cache-file=config.cache $BITCOIN_CONFIG_ALL $BITCOIN_CONFIG || ( cat config.log && false)
    - make distdir PACKAGE=bitcoin VERSION=$HOST
    - cd bitcoin-$HOST
    - ./configure --cache-file=../config.cache $BITCOIN_CONFIG_ALL $BITCOIN_CONFIG || ( cat config.log && false)
    - make $MAKEJOBS $GOAL || ( echo "Build failure. Verbose build follows." && make $GOAL V=1 ; false )
    - mkdir $HOME/bin
    - export LD_LIBRARY_PATH=$TRAVIS_BUILD_DIR/depends/$HOST/lib
    - if [ -d $OUTDIR ]; then cp $OUTDIR/* $HOME/bin/ -rf; fi
    - if [ -n "$OSX_SDK" ]; then cp -rf Unbreakablecoin-Qt.app $HOME/bin; fi
    - if [ -n "$OSX_SDK" ]; then cp -rf Unbreakablecoin-Qt.dmg $HOME/bin; fi
    - if [ -f "unbreakablecoin-0.10.3.0-win64-setup.exe" ]; then cp unbreakablecoin-0.10.3.0-win64-setup.exe $HOME/bin; fi
    - if [ -f "unbreakablecoin-0.10.3.0-win32-setup.exe" ]; then cp unbreakablecoin-0.10.3.0-win32-setup.exe $HOME/bin; fi
    - ls -la $HOME/bin
    - ls -la $HOME/bin/*
after_script:
- echo $TRAVIS_COMMIT_RANGE
- echo $TRAVIS_COMMIT_LOG
notifications:
  irc: chat.freenode.net#multicoin-co
before_deploy: cd $HOME && tar -zcvf Unbreakablecoin-$HOST.tar.gz $HOME/bin && ls -la $HOME
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: ikWJC+W0RJx8OGVlWWvpFm4Vk+tvIsWNGTM8kF4YApHXW1jY0srUrSFgDpND4Wxo7ig1d3msLDoe/6VSx2ZuYKkY60OtNs/55LimCXwbc7bJzgNWeCL3XAmK+kQ8ckQaDG80aK9E9OISp7ZHxYnV6I/dAN5LDnRQAevDHXOOkBggJZweSuPwilRNHYD/gED2J2ZeaPa8eFw1lb2pd4ge+u8ETulgnHbfa0Va/JrBPstoP8Inkk7Ls0lcSQJSIOssC0mMl7S2jJHcnuYMF6wZLmJE6+XeGmHiFM4KBaOdWKgv+oXsGkNUv7t3y4+zfcDXYg3f9cO7hwup5WYfvMsb5o20A1kxCpUlT9pDbubh0BHKhiJ6Ikpw4ZtBMcp6Wexe9uxejkmMgBDin9NAt1k0DRE4AGQX5pDi5PvvNsQ7FFk+ROsM82/3OGYAb/fNza1aAxSpTLSTOMq5Fltj3sL7jenuqfB6Yyocb+CAzU0fcmKPZP2GmMAKPniMJLaPnqQGIa5/qmSC9mVkLmztgC38fVyrcrkvkih/7lbU2MbVoPYqAQ45hfZ6zqtZPJB0lWPwA3EnTaPIXelJr7uofX9qrE7zjKlWL0WWr/4EepjYQKuQo6Wz7Fkr/8GWTevn6EVAd4fzDqE8G2OfZI8xrri0nU3d09KdrJumFUlKiGhvQE8=
  file:
    - $HOME/Unbreakablecoin-$HOST.tar.gz
  on:
    tags: true
    all_branches: true
